<br><br>
<p align="center">
<table>
<tr><td width=216>
<p class="main">
God have mercy on the sinner<br>
Who must write with no dinner,<br>
<br>
No gravy and no grub,<br>
No pewter and no pub,<br>
<br>
No belly and no bowels,<br>
Only consonants and vowels.
<p class="small">
- John Crow Ransom<br>
<em>Survey of Literature</em>
</td>
<td width=95></tr>
</table>

<p class="submit">
<br>
<br>
<br>
<br>
<br>
<br>
have a recipe in verse?<br>
<a href="mailto:recipes@breadpoets.org">fork it over.</a>
